# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Create a data dictionary that looks like the DataFrame below

In [2]:
data_dict = {"evolution":["Ivyasaur", "Charmeleon", "Wartortle", "Metapod"], "hp":[45,39,44,45], "name":["Bulbasaur", "Charmander", "Squirtle", "Caterpie"], "pokedex": ["yes", "no", "yes", "no"], "type": ["grass", "fire", "water", "bug"]}

### Step 3. Assign it to a variable called pokemon

In [3]:
pokemon = pd.DataFrame(data_dict)

In [31]:
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45    Ivyasaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [27]:
column_list = ['name', 'type', 'hp', 'evolution', 'pokedex']

In [29]:
pokemon = pokemon.reindex(columns=column_list)

In [30]:
pokemon.head()

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45    Ivyasaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. Add another column called place, and insert what you have in mind.

In [32]:
places = ['konohagakure', 'sunagakure', 'iwagakure', 'amegakure']
pokemon['place'] = places

In [33]:
pokemon

         name   type  hp   evolution pokedex         place
0   Bulbasaur  grass  45    Ivyasaur     yes  konohagakure
1  Charmander   fire  39  Charmeleon      no    sunagakure
2    Squirtle  water  44   Wartortle     yes     iwagakure
3    Caterpie    bug  45     Metapod      no     amegakure

### Step 6. Present the type of each column

In [7]:
pokemon.dtypes

evolution    object
hp            int64
name         object
pokedex      object
type         object
dtype: object

### BONUS: Create your own question and answer it.

#### Step 7. Find the Pokemon/s with highest hp

In [30]:
# max_hp = pokemon.hp.max()
# pokemon[pokemon.hp==max_hp]

pokemon_max_hp = pokemon[pokemon.hp==pokemon.hp.max()]
result = pokemon_max_hp.reindex(columns=column_list)      #column_list was defined in question 4
result

        name   type  hp evolution pokedex
0  Bulbasaur  grass  45  Ivyasaur     yes
3   Caterpie    bug  45   Metapod      no